.social
    font-size: 0
    &__item
        margin-right: 3px
        display: inline-block;
        width 30px
        height @width
        border-radius: 2px
        background-color #404348

        for $item in  ('fb' $color-soc-fb) ('tw' $color-soc-tw)  ('google' $color-soc-google)
            &_{$item[0]}:hover
                background-color: $item[1]
