.table
    $color-border = #e5e5e5
    width 100%
    table-layout: fixed
    border-radius: 0
    overflow: hidden
    border-collapse: separate
    & th, & td
        padding 15px 15px 15px 20px
        line-height: 1.5
        &:last-child
            border-right none

    & th
        font-weight: normal
        color #333
        border-bottom 3px solid $color-main
        border-right 1px solid $color-border
        text-align: left

    & td
        color #666
        border-bottom 1px solid $color-border
        border-right 1px solid $color-border

    & tbody tr
        &:nth-child(even)
            background #f4f4f4
        &:last-child
            td
                border-bottom none
