
.hotline
    margin-top: 15px
    &__desc
        font-size: 24px
        font-family: $title-ff-light
        margin-bottom: 15px
    &__phone
        color #333
        font-size: $fsH1
        font-family: $title-ff-light
        margin-bottom: 30px

    &__phone-prefix
        color $color-main
    &__button
        margin-top: 28px
