.button
	padding 0 2.6em
	line-height: 47px
	height 50px
	background-color $color-main
	cursor pointer
	border 2px solid $color-main
	display inline-block
	vertical-align: middle
	text-decoration none
	color #fff
	text-align center
	transition all 0.2s linear
	outline none
	user-select none
	font-size: 12px
	font-family: $base-ff-semibold
	text-transform uppercase
	text-align: center
	border-radius: 25px
	white-space: nowrap;

	&:hover
		color #fff
		background-color $color-main-hover
		border-color $color-main-hover
	&_apply
		background-color $color-second
		border-color  $color-second
		color $base-fc
		&:hover
			color $base-fc
			background-color $color-second-hover
			border-color  $color-second-hover
	&_cancel
		background-color #eaeaea
		border-color #eaeaea
		color $base-fc
		&:hover
			color $base-fc
			background-color lighten(#eaeaea, 20%)
			border-color  lighten(#eaeaea, 20%)

	&_nobg
		background: rgba(#fff, 0)
		color: #333
		&:hover
			color #fff
			background-color $color-main-hover
			border-color $color-main-hover

	&_arrow
		position: relative
		padding-right 60px
		&:after
			content ''
			position: absolute
			pos-center-h()
			right 30px
			width 14px
			height 10px
			background url(../images/button-arrow.png) no-repeat left top

		&:hover
			&:after
				background-position left bottom



	&_long
		padding-left: 5em
		padding-right 5em

	&_second
		border-color #fff
		color #fff
		&:hover
			color $color-main
			background-color #fff
			border-color #fff

.button-basket
	background-color transparent
	border-color $color-border
	margin-left 60px
	height 50px
	line-height: 50px
	color $base-fc
	padding 0 20px
	&:before
		background-color rgba(#fff, 0)
		border 1px solid $color-border
		height 50px
		width 60px
		left -60px
		top -1px
	&:after
		left -35px
		sprite($i_basket)

	&__count
		line-height: 1
		position: absolute;
		pos-center(left: 0)
		background-color: $color-main
		padding 0.3em 0.4em
		color #fff
		font-size: 11px
	&__price
		font-size: 16px
		font-family: $opensanssemibold
		display: inline-block
		margin-right: 5px
	&__rubl
		font-size: 14px
		display: inline-block

	&:hover
		color $base-fc
		background-color transparent
		border-color  $color-main-hover
		&:before
			background-color tranasparent
			border-color  $color-main-hover
			border-right-color $color-border
