extend ../layouts/nocatalog

block content

	section.section.section_first
		+breadcrumbs({
			items: ["Корзина"]
		})

		.section__title-wrap.section__title-wrap_page.h-mb_40
			h1.section__title Корзина

		.container
			.basket
				.basket__items
					.basket__item.basket__item_head
						each th, i in ['Фото','Наименование','Стоимость','Кол-во','Сумма']
							.basket__item-cell!= th
					+basket-item('', 4)

				.basket__total
					.basket__total-content
						.basket__total-desc Итого:
						.basket__total-price
							|40 800#[span.basket__total-price-rubl Р]

				.basket__form
					.basket__form-col
						include ../partials/basket-form
					.basket__form-col.h-pt_10
						p Все заказы, размещаемые в нашем интернет-магазине, обрабатываются автоматически, поэтому как только Вы закончили оформление заказа, изменить адрес доставки или его комплектацию невозможно. Но Вы всегда можете отменить заказ и оформить новый, указав корректные данные.








block popup
