extend ../layouts/main

block content

	section.section.section_first.h-pb_0
		+breadcrumbs({
			items: ["Каталог","Люстры","Модерн"]
		})

		.section__title-wrap.section__title-wrap_page
			h1.section__title Светильник Elma 160W

		.container
			.row
				.section__content.section__content_catalog
					include ../partials/card


	.section.section.h-pb_60
		.container
			.section__title-wrap.section__title-wrap_delimiter
				div.section__title Описание и характеристики
			.container-content
				p KERASAN одна из первых фабрик по производству керамики в районе Чивита Кастеллана. Компания была основана в 1960 году и специализируется в производстве сантехнических изделий из высококачественной керамики. В 2000- годы Kerasan выбрал программу развития качества путём совмещения совершенного ремесленного производства, новых технологий, уделяя особое внимание дизайну. На сегодняшний день продукция компании представлена на основных международных рынках благодаря полным коллекциям сантехники и мебели для ванных комнат, аксессуаров и смесителей.

			include ../partials/help

block popup
