extend ../layouts/main

block content

	section.section.section_first.h-pb_0
		+breadcrumbs({
			items: ["Каталог"]
		})

		.section__title-wrap.section__title-wrap_page
			.section__title Каталог

		.container
			.row
				.section__content.section__content_catalog
					+catalog('', 6)


	include ../partials/section-intresting

block popup
