extend ../layouts/maps

block content

    section.section.section_first.h-pb_0
        .section__title-wrap.section__title-wrap_page.h-mb_0
            +breadcrumbs({
                items: ["Контакты"]
            })
            h1.section__title Контакты
            .section__title-icon
                .i-map-marker

        .contact
            .contact__map-wrap
                .contact__map-desc-wrap
                    .contact__info-title Адрес:
                    .contact__info-text
                        |г.Россия, #[br]г. Екатеринбург, #[br]ул. Примерная 21, оф. 12
                    .contact__info-phone
                        .phone
                            |#[span.phone__prefix (343)] #[span.phone__main 222-07-40]
                    .contact__info-callback
                        a(href="#").contact__link-callback.js-popup-open Обратный звонок

                .contact__map
                    .map.js-map(data-center="город Екатеринбург, Малышева 51", data-zoom="17")


block popup
