extend ../layouts/error

block content

    section.section.section_error-404
        .intro-error
            .intro-error__icon
                .i-earch
            .intro-error__container
                .intro-error__content
                    .section__big-digit
                        .big-digit
                            .big-digit__count.big-digit__count_404
                            .big-digit__desc Ошибка
                    .section__title-wrap.section__title-wrap_right
                        .section__title Заблудились?
                        .section__title-desc Неправильно набран адрес или страница была удалена. Пожалуйста перейдите на главную страницу.
                    .row.h-align_center.h-mt_60.h-mb_40
                        a(href="#").button.button_nobg.button_second На главную
