extend ../layouts/nocatalog

block content

	section.section.section_error-404
		.intro-error
			.container
				.intro-error__title Ошибка 404
				.intro-error__title-semi Страница не найдена
				p.intro-error__text К сожалению страницы не существует, либо она не найдена
				a(href="main.html").button Вернуться на главную
