extend ../layouts/nocatalog

block content

	section.section.section_first.h-pb_20
		.container
			ul.list
				li
					a(href="main.html") Главная

				li
					a(href="contacts.html") Контакты
				li
					a(href="text.html") Text
				li
					a(href="service.html") Услуги
				li
					a(href="service-item.html") Одна услуга
				li
					a(href="team.html") Наша команда
				li
					a(href="error-404.html") 404
				li
					a(href="popups.html") Попапы
