extend ../layouts/nocatalog

block content

	section.section.section_first.h-pb_20
		.container
			ul.list
				li
					a(href="main.html") Главная
				li
					a(href="catalog.html") Каталог
				li
					a(href="section.html") Раздел
				li
					a(href="card.html") Карточка
				li
					a(href="basket.html") Корзина
				li
					a(href="contacts.html") Контакты
				li
					a(href="text.html") Text
				li
					a(href="error-404.html") 404
				li
					a(href="popups.html") Попапы
