extend ../layouts/main

block content

	section.section.section_first.h-pb_20
		.container
			-
				var popups = [
					{
						name : 'Вопрос специалисту',
						id : 'popup-send-message'
					},
					{
						name : 'Заявка принята',
						id : 'popup-message-succes'
					}
				]
			ul.list
				each item in popups
					li
						a.js-popup-open(href="#"+item.id)!= item.name

block popup
	include ../partials/popup-form-send-message
	include ../partials/popup-message-succes
