extend ../layouts/main

block content

	section.section.section_first.h-pb_0
		+breadcrumbs({
			items: ["Каталог", "Люстры"]
		})

		.section__title-wrap.section__title-wrap_page
			.section__title Люстры

		.container
			.row
				.section__content.section__content_catalog.section__content_filter
					.pagination-wrap
						include ../partials/pagination
						include ../partials/sorting

					.shop-section
						- var n = 1
						while (n <= 11)
							.shop-section__item
								+shop('', 1)

							-n++

					include ../partials/pagination

				.section__filter
					include ../partials/filter

	include ../partials/section-intresting

block popup
