extend ../layouts/main

block content

	section.section.section_first.h-pb_0

		.section__title-wrap.section__title-wrap_page.section__title-wrap_lines
			+breadcrumbs({
				items: ["Услуги"]
			})
			h1.section__title Услуги
			.section__title-icon
				.i-bag_white
		.section__title-desc.h-mb_60
			p Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое.

		.service.h-pb_40
			.container
				include ../partials/service-big-card
				.service-cards
					+service-card('', 8)

	include ../partials/section-popular
	include ../partials/section-seo


block popup
