extend ../layouts/main

block content

	section.section.section_first.h-pb_0

		.section__title-wrap.section__title-wrap_page.section__title-wrap_lines
			+breadcrumbs({
				items: ["Услуги", "Земля и межевание"]
			})
			.section__title Земля (межевание)
			.section__title-icon
				.i-map-marker
		.section__title-desc
			p Комплекс работ по установлению, восстановлению и закреплению на местности границ земельного участка, определению его местоположения и площади
			.section__title-price
				|От #[span.section__title-price-count 4200] р.

		.service
			.container
				.service-cards
					+service-card('', 4)
				include ../partials/consult-hot

	include ../partials/section-seo





block popup
