extend ../layouts/main

block content

    section.section.section_first

        .section__title-wrap.section__title-wrap_page.section__title-wrap_lines
            +breadcrumbs({
                items: ["О компании", "Наша команда"]
            })
            .section__title Наша команда
            .section__title-icon
                .i-team

        .section__title-desc Давайте знакомиться!

        .container
            .tabs.js-tabs
                ul.tabs__control
                    each val, i in ['Наша команда','История компании', 'Лицензии и сертификаты', 'Выполненные проекты']
                        li.tabs__control-item.js-tabs__control(class=(i==0 ? "active":""), data-tab=i)
                            span.tabs__control-item-text=val

                .tabs__content
                    each val,i in [1,2,3,4]
                        .tabs__content-item.js-tabs__content(class=(i==0 ? "active":""),data-tab=i)
                            if (i == 0)
                                .team-cards
                                    +team-card('', 8)


block popup
