extend ../layouts/main

block content

	section.section.section_first

		.section__title-wrap.section__title-wrap_page.section__title-wrap_lines
			+breadcrumbs({
				items: ["Услуги", "Земля и межевание"]
			})
			h1.section__title Индивидуальное жилищное строительство
			.section__title-icon
				.i-map-marker
		.section__title-desc
			p Комплекс работ по установлению, восстановлению и закреплению на местности границ земельного участка, определению его местоположения и площади
			.section__title-price
				|От #[span.section__title-price-count 4200] р.

		.container-content
			p.h-mb_40 Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое.

		.container-content-img
			.row
				.col_5
					.img-wrap.img-wrap_border.h-mr_10
						img.img(src='./assets/images/content-foto.png')
				.col_7
					h2 Пример не очень длинного Заголовка H2
					p Комплекс работ по установлению, восстановлению и закреплению на местности границ земельного участка, определению его местоположения и площади. Обследование объекта недвижимости с целью измерения его характеристик по площади. По результатам работ выдается технический паспорт объекта.


		.container-content
			p.h-mb_40 Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое.

			h3 Пример не очень длинного Заголовка H3
			p Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое.

			.quote
				p.quote__text Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое.


			.row
				.col_6
					ul.list.h-mb_40
						li Маркированный список
						li Маркированный список
						li Маркированный список
				.col_6
					ol.list.h-mb_40
						li Нумерованный список
						li Нумерованный список
						li Нумерованный список

			include ../partials/table

		.container.h-mt_40
			include ../partials/consult-hot





block popup
