*, *:before, *:after
    box-sizing: border-box
html
body
    height 100%
    width 100%
    font-family $base-ff
    font-size $base-fs
    color $base-fc

body
    -webkit-font-smoothing antialiased
    min-width: 1020px

a
    color $color-main
    text-decoration: none
    transition: all 0.3s ease

    &:hover
        text-decoration: none
        color $color-main-hover

p
    margin-bottom 20px
    line-height $base-lh

h1
    titleH1()
    text-align center

h2
    titleH2()
    text-align center

h3
    titleH3()
    text-align center
h4
    font-size $fsH4
    font-family: $base-ff-bold
    line-height: 1.6
    font-weight normal


b, strong
    font-family $base-ff-bold

input, button
    -webkit-appearance: none
    border-radius: 0px


//Content
.container-content
    li
        margin-bottom 15px
        font-size: $base-fs
        line-height: $base-lh
        padding-left: 40px
        list-style: none
        position: relative
    ul
        list-style: none
        & li
            &:last-child
                margin-bottom 0
            &:before
                content ''
                width 10px
                height @width
                background-color: $color-main
                position: absolute
                left 0
                top 11px
    ol
        counter-reset: myCounter2
        list-style: none
        & li
            &:last-child
                margin-bottom 0
            &:before
                counter-increment: myCounter;
                content:counter(myCounter) '.';
                width auto
                height auto
                border none
                position: absolute
                left 0
                top 1px
                color $color-main
                font-family: $base-ff-bold
                background-color: transparent

    sup
        vertical-align: super
        font-size: smaller

    em, i
        font-family: $base-ff-italic


    blockquote
        margin 40px 0
        padding 30px
        position: relative
        border-top 1px solid #cdcdcd
        border-bottom 1px solid #cdcdcd
        font-family: $base-ff-italic
        text-align: center
        line-height: $base-lh
        &:after, &:before
            content ''
            pos-center-w()
            width 40px
            height 4px
            background-color $color-main

        &:after
            bottom -2px
        &:before
            top -2px
        *
            &:last-child
                margin-bottom 0

    table
        $color-border = #e5e5e5
        width 100%
        table-layout: fixed
        border-radius: 0
        overflow: hidden
        border-collapse: separate
        & th, & td
            padding 15px 15px 15px 20px
            line-height: 1.5
            &:last-child
                border-right none

        & th
            font-weight: normal
            color #333
            border-bottom 3px solid $color-main
            border-right 1px solid $color-border
            text-align: left

        & td
            color #666
            border-bottom 1px solid $color-border
            border-right 1px solid $color-border

        & tbody tr
            &:nth-child(even)
                background #f4f4f4
            &:last-child
                td
                    border-bottom none
