.container
    center(max-width: 1020px, pad: 30px)

.container-content
    center(max-width: 780px, pad: 0px)
    &_img
        max-width: 940px
        padding-right: 80px

.row
    cf()


for i in (1..12)
    .col_{i}
        column(i/12, offset: 0, gutter: 3.67)

    .shift_{i}
        shift(i/12, offset: 0, gutter: 3.67)
