/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$i_arrow_right_name = 'i-arrow-right';
$i_arrow_right_x = 201px;
$i_arrow_right_y = 118px;
$i_arrow_right_offset_x = -201px;
$i_arrow_right_offset_y = -118px;
$i_arrow_right_width = 14px;
$i_arrow_right_height = 10px;
$i_arrow_right_total_width = 223px;
$i_arrow_right_total_height = 165px;
$i_arrow_right_image = '../images/sprite.png';
$i_arrow_right = 201px 118px -201px -118px 14px 10px 223px 165px '../images/sprite.png' 'i-arrow-right';
$i_arrow_dark_name = 'i-arrow_dark';
$i_arrow_dark_x = 201px;
$i_arrow_dark_y = 98px;
$i_arrow_dark_offset_x = -201px;
$i_arrow_dark_offset_y = -98px;
$i_arrow_dark_width = 14px;
$i_arrow_dark_height = 10px;
$i_arrow_dark_total_width = 223px;
$i_arrow_dark_total_height = 165px;
$i_arrow_dark_image = '../images/sprite.png';
$i_arrow_dark = 201px 98px -201px -98px 14px 10px 223px 165px '../images/sprite.png' 'i-arrow_dark';
$i_bag_name = 'i-bag';
$i_bag_x = 116px;
$i_bag_y = 139px;
$i_bag_offset_x = -116px;
$i_bag_offset_y = -139px;
$i_bag_width = 24px;
$i_bag_height = 22px;
$i_bag_total_width = 223px;
$i_bag_total_height = 165px;
$i_bag_image = '../images/sprite.png';
$i_bag = 116px 139px -116px -139px 24px 22px 223px 165px '../images/sprite.png' 'i-bag';
$i_bag_white_name = 'i-bag_white';
$i_bag_white_x = 82px;
$i_bag_white_y = 139px;
$i_bag_white_offset_x = -82px;
$i_bag_white_offset_y = -139px;
$i_bag_white_width = 24px;
$i_bag_white_height = 22px;
$i_bag_white_total_width = 223px;
$i_bag_white_total_height = 165px;
$i_bag_white_image = '../images/sprite.png';
$i_bag_white = 82px 139px -82px -139px 24px 22px 223px 165px '../images/sprite.png' 'i-bag_white';
$i_big_question_name = 'i-big-question';
$i_big_question_x = 0px;
$i_big_question_y = 0px;
$i_big_question_offset_x = 0px;
$i_big_question_offset_y = 0px;
$i_big_question_width = 75px;
$i_big_question_height = 129px;
$i_big_question_total_width = 223px;
$i_big_question_total_height = 165px;
$i_big_question_image = '../images/sprite.png';
$i_big_question = 0px 0px 0px 0px 75px 129px 223px 165px '../images/sprite.png' 'i-big-question';
$i_compas_name = 'i-compas';
$i_compas_x = 85px;
$i_compas_y = 0px;
$i_compas_offset_x = -85px;
$i_compas_offset_y = 0px;
$i_compas_width = 66px;
$i_compas_height = 73px;
$i_compas_total_width = 223px;
$i_compas_total_height = 165px;
$i_compas_image = '../images/sprite.png';
$i_compas = 85px 0px -85px 0px 66px 73px 223px 165px '../images/sprite.png' 'i-compas';
$i_dialog_name = 'i-dialog';
$i_dialog_x = 44px;
$i_dialog_y = 139px;
$i_dialog_offset_x = -44px;
$i_dialog_offset_y = -139px;
$i_dialog_width = 28px;
$i_dialog_height = 26px;
$i_dialog_total_width = 223px;
$i_dialog_total_height = 165px;
$i_dialog_image = '../images/sprite.png';
$i_dialog = 44px 139px -44px -139px 28px 26px 223px 165px '../images/sprite.png' 'i-dialog';
$i_earch_name = 'i-earch';
$i_earch_x = 161px;
$i_earch_y = 80px;
$i_earch_offset_x = -161px;
$i_earch_offset_y = -80px;
$i_earch_width = 28px;
$i_earch_height = 28px;
$i_earch_total_width = 223px;
$i_earch_total_height = 165px;
$i_earch_image = '../images/sprite.png';
$i_earch = 161px 80px -161px -80px 28px 28px 223px 165px '../images/sprite.png' 'i-earch';
$i_map_marker_name = 'i-map-marker';
$i_map_marker_x = 201px;
$i_map_marker_y = 0px;
$i_map_marker_offset_x = -201px;
$i_map_marker_offset_y = 0px;
$i_map_marker_width = 22px;
$i_map_marker_height = 28px;
$i_map_marker_total_width = 223px;
$i_map_marker_total_height = 165px;
$i_map_marker_image = '../images/sprite.png';
$i_map_marker = 201px 0px -201px 0px 22px 28px 223px 165px '../images/sprite.png' 'i-map-marker';
$i_phone_name = 'i-phone';
$i_phone_x = 201px;
$i_phone_y = 68px;
$i_phone_offset_x = -201px;
$i_phone_offset_y = -68px;
$i_phone_width = 20px;
$i_phone_height = 20px;
$i_phone_total_width = 223px;
$i_phone_total_height = 165px;
$i_phone_image = '../images/sprite.png';
$i_phone = 201px 68px -201px -68px 20px 20px 223px 165px '../images/sprite.png' 'i-phone';
$i_phone_white_name = 'i-phone_white';
$i_phone_white_x = 201px;
$i_phone_white_y = 38px;
$i_phone_white_offset_x = -201px;
$i_phone_white_offset_y = -38px;
$i_phone_white_width = 20px;
$i_phone_white_height = 20px;
$i_phone_white_total_width = 223px;
$i_phone_white_total_height = 165px;
$i_phone_white_image = '../images/sprite.png';
$i_phone_white = 201px 38px -201px -38px 20px 20px 223px 165px '../images/sprite.png' 'i-phone_white';
$i_soc_fb_name = 'i-soc_fb';
$i_soc_fb_x = 161px;
$i_soc_fb_y = 40px;
$i_soc_fb_offset_x = -161px;
$i_soc_fb_offset_y = -40px;
$i_soc_fb_width = 30px;
$i_soc_fb_height = 30px;
$i_soc_fb_total_width = 223px;
$i_soc_fb_total_height = 165px;
$i_soc_fb_image = '../images/sprite.png';
$i_soc_fb = 161px 40px -161px -40px 30px 30px 223px 165px '../images/sprite.png' 'i-soc_fb';
$i_soc_google_name = 'i-soc_google';
$i_soc_google_x = 161px;
$i_soc_google_y = 0px;
$i_soc_google_offset_x = -161px;
$i_soc_google_offset_y = 0px;
$i_soc_google_width = 30px;
$i_soc_google_height = 30px;
$i_soc_google_total_width = 223px;
$i_soc_google_total_height = 165px;
$i_soc_google_image = '../images/sprite.png';
$i_soc_google = 161px 0px -161px 0px 30px 30px 223px 165px '../images/sprite.png' 'i-soc_google';
$i_soc_tw_name = 'i-soc_tw';
$i_soc_tw_x = 85px;
$i_soc_tw_y = 83px;
$i_soc_tw_offset_x = -85px;
$i_soc_tw_offset_y = -83px;
$i_soc_tw_width = 30px;
$i_soc_tw_height = 30px;
$i_soc_tw_total_width = 223px;
$i_soc_tw_total_height = 165px;
$i_soc_tw_image = '../images/sprite.png';
$i_soc_tw = 85px 83px -85px -83px 30px 30px 223px 165px '../images/sprite.png' 'i-soc_tw';
$i_star_name = 'i-star';
$i_star_x = 125px;
$i_star_y = 83px;
$i_star_offset_x = -125px;
$i_star_offset_y = -83px;
$i_star_width = 26px;
$i_star_height = 25px;
$i_star_total_width = 223px;
$i_star_total_height = 165px;
$i_star_image = '../images/sprite.png';
$i_star = 125px 83px -125px -83px 26px 25px 223px 165px '../images/sprite.png' 'i-star';
$i_team_name = 'i-team';
$i_team_x = 0px;
$i_team_y = 139px;
$i_team_offset_x = 0px;
$i_team_offset_y = -139px;
$i_team_width = 34px;
$i_team_height = 26px;
$i_team_total_width = 223px;
$i_team_total_height = 165px;
$i_team_image = '../images/sprite.png';
$i_team = 0px 139px 0px -139px 34px 26px 223px 165px '../images/sprite.png' 'i-team';
$spritesheet_width = 223px;
$spritesheet_height = 165px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $i_arrow_right $i_arrow_dark $i_bag $i_bag_white $i_big_question $i_compas $i_dialog $i_earch $i_map_marker $i_phone $i_phone_white $i_soc_fb $i_soc_google $i_soc_tw $i_star $i_team;
$spritesheet = 223px 165px '../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
