/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$i_basket_name = 'i-basket';
$i_basket_x = 118px;
$i_basket_y = 48px;
$i_basket_offset_x = -118px;
$i_basket_offset_y = -48px;
$i_basket_width = 16px;
$i_basket_height = 20px;
$i_basket_total_width = 146px;
$i_basket_total_height = 105px;
$i_basket_image = '../images/sprite.png';
$i_basket = 118px 48px -118px -48px 16px 20px 146px 105px '../images/sprite.png' 'i-basket';
$i_callback_name = 'i-callback';
$i_callback_x = 52px;
$i_callback_y = 89px;
$i_callback_offset_x = -52px;
$i_callback_offset_y = -89px;
$i_callback_width = 14px;
$i_callback_height = 16px;
$i_callback_total_width = 146px;
$i_callback_total_height = 105px;
$i_callback_image = '../images/sprite.png';
$i_callback = 52px 89px -52px -89px 14px 16px 146px 105px '../images/sprite.png' 'i-callback';
$i_logo_name = 'i-logo';
$i_logo_x = 0px;
$i_logo_y = 0px;
$i_logo_offset_x = 0px;
$i_logo_offset_y = 0px;
$i_logo_width = 60px;
$i_logo_height = 79px;
$i_logo_total_width = 146px;
$i_logo_total_height = 105px;
$i_logo_image = '../images/sprite.png';
$i_logo = 0px 0px 0px 0px 60px 79px 146px 105px '../images/sprite.png' 'i-logo';
$i_online_name = 'i-online';
$i_online_x = 118px;
$i_online_y = 0px;
$i_online_offset_x = -118px;
$i_online_offset_y = 0px;
$i_online_width = 28px;
$i_online_height = 38px;
$i_online_total_width = 146px;
$i_online_total_height = 105px;
$i_online_image = '../images/sprite.png';
$i_online = 118px 0px -118px 0px 28px 38px 146px 105px '../images/sprite.png' 'i-online';
$i_pancil_name = 'i-pancil';
$i_pancil_x = 76px;
$i_pancil_y = 89px;
$i_pancil_offset_x = -76px;
$i_pancil_offset_y = -89px;
$i_pancil_width = 11px;
$i_pancil_height = 12px;
$i_pancil_total_width = 146px;
$i_pancil_total_height = 105px;
$i_pancil_image = '../images/sprite.png';
$i_pancil = 76px 89px -76px -89px 11px 12px 146px 105px '../images/sprite.png' 'i-pancil';
$i_phone_name = 'i-phone';
$i_phone_x = 0px;
$i_phone_y = 89px;
$i_phone_offset_x = 0px;
$i_phone_offset_y = -89px;
$i_phone_width = 16px;
$i_phone_height = 16px;
$i_phone_total_width = 146px;
$i_phone_total_height = 105px;
$i_phone_image = '../images/sprite.png';
$i_phone = 0px 89px 0px -89px 16px 16px 146px 105px '../images/sprite.png' 'i-phone';
$i_phone_white_name = 'i-phone_white';
$i_phone_white_x = 26px;
$i_phone_white_y = 89px;
$i_phone_white_offset_x = -26px;
$i_phone_white_offset_y = -89px;
$i_phone_white_width = 16px;
$i_phone_white_height = 16px;
$i_phone_white_total_width = 146px;
$i_phone_white_total_height = 105px;
$i_phone_white_image = '../images/sprite.png';
$i_phone_white = 26px 89px -26px -89px 16px 16px 146px 105px '../images/sprite.png' 'i-phone_white';
$i_price_name = 'i-price';
$i_price_x = 70px;
$i_price_y = 0px;
$i_price_offset_x = -70px;
$i_price_offset_y = 0px;
$i_price_width = 38px;
$i_price_height = 34px;
$i_price_total_width = 146px;
$i_price_total_height = 105px;
$i_price_image = '../images/sprite.png';
$i_price = 70px 0px -70px 0px 38px 34px 146px 105px '../images/sprite.png' 'i-price';
$i_quality_name = 'i-quality';
$i_quality_x = 70px;
$i_quality_y = 44px;
$i_quality_offset_x = -70px;
$i_quality_offset_y = -44px;
$i_quality_width = 30px;
$i_quality_height = 35px;
$i_quality_total_width = 146px;
$i_quality_total_height = 105px;
$i_quality_image = '../images/sprite.png';
$i_quality = 70px 44px -70px -44px 30px 35px 146px 105px '../images/sprite.png' 'i-quality';
$spritesheet_width = 146px;
$spritesheet_height = 105px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $i_basket $i_callback $i_logo $i_online $i_pancil $i_phone $i_phone_white $i_price $i_quality;
$spritesheet = 146px 105px '../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
