$opensans          = "OpenSansRegular", Arial, Helvetica, sans-serif;
$opensansitalic    = "OpenSansItalic", Arial, Helvetica, sans-serif;
$opensansbold      = "OpenSansBold", Arial, Helvetica, sans-serif;
$opensanslight     = "OpenSansLight", Arial, Helvetica, sans-serif;
$opensanssemibold  = "OpenSansSemiBold", Arial, Helvetica, sans-serif;
$oswaldlight       = "OswaldLight", Arial, Helvetica, sans-serif;
$oswaldmedium      = "OswaldMedium", Arial, Helvetica, sans-serif;

$base-ff = $opensans
$base-ff-italic = $opensansitalic
$base-ff-light = $opensanslight
$base-ff-bold = $opensansbold
$base-ff-semibold = $opensanssemibold

$title-ff-light  = $oswaldlight
$title-ff-medium = $oswaldmedium

$base-fs = 16px
$base-fc = #555
$base-fc-title = #333
$base-lh = 1.875

$color-main = #89a831
$color-main-hover = #6f930a
$color-second = #f8c231
$color-second-hover = #f8e831

$color-main-dark = #677f1f


$color-blue = #0185a7
$color-red = $color-main
$color-green = #00993b
$color-yellow = #ffe400
$color-orange = #f3b114
$color-grey = #999
$color-grey-dark = #555
$color-grey-light = lighten($color-grey, 60%)


$color-border = #d0d0d0

$color-link = $color-main
$color-link-hover = $color-main-hover

$input-error = $color-red
$input-bg = #fff
$input-bg-error = #ffd3d5
$input-border = $color-border
$input-border-hover = $color-main-hover
$input-border-focus = $color-main
$input-border-error = $input-error
$input-color = $base-fc
$input-color-error = $input-error
$input-color-placeholder = #888

//Font size

$fsH1 = 48px
$fsH2 = 36px
$fsH3 = 30px
$fsH4 = 18px
$fsH5 = 12px

//color-social
$color-soc-fb = #3a559f
$color-soc-google = #dd4b39
$color-soc-tw = #50abf1

//z-index
