.contact
    &__map-wrap
        position: relative;
        height 600px

    &__map
        width 100%
        max-width: 100%
        margin 0 auto
        position: absolute;
        top 0
        height 600px

    &__map-desc-wrap
        position: absolute;
        top 50%
        left 50%
        width 280px
        padding 50px 50px 60px
        background-color: #fff
        transform: translate(-50%, -50%)
        margin-left -342px
        z-index: 2
        border-top 10px solid $color-main

    &__info-title
        font-size: $fsH4
        margin-bottom: 18px
        font-family: $title-ff-light
        color $base-fc-title
        text-transform: uppercase;
    &__info-text
        font-size: 14px
        line-height: 20px
        margin-bottom: 35px
    &__info-phone
        margin-bottom: 10px
    &__link-callback
        font-size: 13px
        color: #2c383c
        border-bottom: 1px dotted #2c383c
        &:hover
            border-bottom-color: $color-main
