-
    var inputs = [
        {
            label : "Ваше имя:",
            placeholder : "Иван Иванов",
            required: true,
            error: "Введите имя",
            id: 'form-basket-name'
        },
        {
            label : "Телефон:",
            placeholder : "",
            required: true,
            error: "Введите телефон",
            type: 'phone',
            id: 'form-basket-phone'
        },
        {
            label : "Адрес доставки:",
            placeholder : "Москва",
            required: true,
            error: "Введите адрес доставки",
            id: 'form-basket-address'
        },
        {
            label : "Дополнительная информация:",
            placeholder : "...",
            type: 'textarea',
            id: 'form-basket-extra'
        }
    ]
form.form.js-valid-form(action="#" name="form-basket")
    each item, i in inputs
        .form__row
            +input(item)

    .form__row
        button.button.js-valid-form__button(type='submit') Оформить
