.card
    .card__img-wrap
        img.card__img(src="./assets/images/item-card.png")

    .card__buy-wrap
        .card__row
            .card__row-label Стоимость
            .card__row-content
                .card__price
                    |1 200#[span.card__rubl Р]
        .card__row
            .card__row-label Количество
            .card__row-content
                +amount({value: 10, max:100}, 'amount_full')
        .card__row.card__row_button
            .button.h-mb_10.h-w_full Добавить в корзину
            .button.button_nobg.h-w_full Купить в один клик
