.carousel.carousel_popular
    .carousel__owl.js-carousel-popular.owl-carousel.js-carousel
        +shop('', 8)

    .carousel__control.carousel__control_prev.js-carousel__control-prev
    .carousel__control.carousel__control_next.js-carousel__control-next
