.carousel.carousel_recall
    .carousel__owl.js-carousel-recall.owl-carousel.js-carousel
        +recall('', 6)

    .carousel__control.carousel__control_prev.js-carousel__control.js-carousel__control-prev
    .carousel__control.carousel__control_next.js-carousel__control.js-carousel__control-next
