.consult-hot
    .consult-hot__col.consult-hot__col_left
        .consult-hot__icon-wrap
            .consult-hot__icon.i-phone_white
        .consult-hot__title
            |Горячая линия#[br]Со специалистом —
        .consult-hot__desc
            |Бесплатная консультация, ответы#[br]на любые вопросы

    .consult-hot__col.consult-hot__col_right
        .consult-hot__col-container
            .consult-hot__phone
                |#[span.consult-hot__phone-index (343)] 222-07-40
            .consult-hot__button
                .button Задать вопрос специалисту
