footer.footer
    .container
        .footer__container
            .footer__col
                span.h-color_second
                | «Led Store» &mdash; интернет-магазин
            .footer__col
                |Разработка &mdash; #[a(href="#") Jazz]
