.section__form-wrapper.h-mt_40
    .phone.phone_big.h-mr_40
        .phone__icon
        .phone__number
            .phone__number-prefix +7 (343)
            .phone__number-main 202-04-90

    div.h-mr_40.h-mt_30.h-color_second Или

    form.form.form_gorizontal.js-valid-form(action='#')
        .form__row
            .input.js-valid-form__item
                .input__label.input__label_required.h-mb_20(for='id-input-call-phone-1') Оставьте свой номер и мы вам перезвоним

                input.input__text.input__text_norm.js-mask-phone(type='text', placeholder='+7 (___) ___-__-__' id='id-input-call-phone-1')
                .input__error.js-valid-form__error Не введен номер телефона

                button.button.button_action.js-valid-form__button.h-ml_20(type='submit') Заказать
