header.header
    .header__container
        .header__item
            +logo()
        .header__item
            +nav()
        .header__item
            .header__callback
                .header__callback-phone
                    .phone
                        |#[span.phone__prefix (343)] #[span.phone__main 222-07-40]
                a.header__callback-link.js-popup-open(href="#") Обратный звонок
