.help
    .help__container
        .help__women
        .help__row
            .help__item
                .help__title Остались<br>вопросы?

            .help__item
                .phone.phone_light
                    i.phone__icon.i-phone_white
                    .phone__number
                        | #[span.phone__number-prefix 8 343] #[span.phone__number-main 202-04-90]

                .time-work.time-work_light.h-mr_40
                    |Часы работы#[br]с 9:00 до 20:00

                include button-callback
