include ../mixins/nav
include ../mixins/shop
include ../mixins/breadcrumbs
include ../mixins/catalog
include ../mixins/amount
include ../mixins/basket-item
include ../mixins/input
include ../mixins/form
