.pagination
    .pagination__item
        a(href="#").pagination__item-link 1
        
    .pagination__item
        .pagination__item-more ...

    .pagination__item
        a(href="#").pagination__item-link 11
    .pagination__item.active
        a(href="#").pagination__item-link 12
    .pagination__item
        a(href="#").pagination__item-link 13

    .pagination__item
        .pagination__item-more ...

    .pagination__item
        a(href="#").pagination__item-link 23
