.popup.popup_form#popup-callback
    .popup__close.js-popup__close

    .popup__title-block
        .popup__title-text Заказать обратный звонок

    .popup__content
        +form({inputs: ['name', 'phone'], name: 'callback'})
