.popup#popup-message-succes
    .popup__close.js-popup__close

    .popup__title-block
        .popup__title-text Заявка приянята

    .popup__content.h-align_center
        p Спасибо Ваша заявка успешно принята.
