.popup.popup_form#popup-send-message
    .popup__close.js-popup__close

    .popup__title-block
        .popup__title-text Вопрос специалисту

    .popup__content.popup__content_form
        +form({inputs: ['name', 'phone'], name: 'send-message', buttonText: 'Задать вопрос'})
