.popup#popup-message-succes
    .popup__close.js-popup__close

    .popup__title-block
        .popup__title-text Сообщение успешно отправлено

    .popup__content.h-align_center
        p Ваше сообщение успешно отправлено!<br>Ожидайте ответа в ближайшее время.
