section.section.section_consult
    .container
        .consult
            .consult__question
                .i-big-question
            .consult__content
                .consult__desc Если у вас остались вопросы, мы с радостью вас проконсультируем. Консультация бесплатна!
                .consult__button
                    a(href="#").button Задать вопрос специалисту
