section.section.h-pt_0
    .container
        .section__title-wrap.section__title-wrap_lines.section__title-wrap_center
            h1.section__title Межевание в Екатеринбурге
            .section__title-icon
                .i-dialog

        .container-content
            p Мы предлагаем комплексный подход к решению задач и обспечим выполнение полного комплекса работ, от решения змельных вопросов и эксплуатации готовых объектов до оценки таких объектов, применение картографии и ГИС в сельском хозяйстве и многое другое.
            //Чтобы блок был открыт, ставим класс 'open'
            .js-more-wrap
                .more-content.js-more-content
                    p Комплекс работ по установлению, восстановлению и закреплению на местности границ земельного участка, определению его местоположения и площади. Обследование объекта недвижимости с целью измерения его характеристик по площади. По результатам работ выдается технический паспорт объекта.

                .row.h-align_center
                    .button.button_nobg.js-more-button(data-text-show="Развернуть" data-text-hide="Свернуть") Свернуть
