section.section.section_bg-intresting
    .container
        .section__title-wrap.section__title-wrap_semi
            div.section__title Товары которые могут вас заинтересовать

        .shop-intresting
            - var n = 1
            while (n <= 6)
                .shop-intresting__item
                    +shop('', 1)
                    -n++

        include ../partials/help

        .section__title-wrap
            h1.section__title Текстовый заголовок или &laquo;О компании&raquo;

        .row
            .container-content
                p.h-mb_30 KERASAN одна из первых фабрик по производству керамики в районе Чивита Кастеллана. Компания была основана в 1960 году и специализируется в производстве сантехнических изделий из высококачественной керамики. В 2000- годы Kerasan выбрал программу развития качества путём совмещения совершенного ремесленного производства, новых технологий, уделяя особое внимание дизайну. На сегодняшний день продукция компании представлена на основных международных рынках благодаря полным коллекциям сантехники и мебели для ванных комнат, аксессуаров и смесителей.

                div.h-align_center
                    a.button.button_link.h-mb_30(href="#") Подробнее
