.service-big-card
    .service-big-card__col.service-big-card__col_left
        .service-big-card__icon-wrap
            .service-big-card__icon.i-map-marker
        .service-big-card__title Земля (межевание)
        ul.service-big-card__list.list.list_small
            each item, i in ['Индивидуальное жилищное строительство', 'Промышленные площадки', 'Сельскохозяйственные земли', 'Леса']
                li: a(href="#").service-big-card__link!= item


    .service-big-card__col.service-big-card__col_right
        .service-big-card__col-container
            div.h-mb_0 Комплекс работ по установлению, восстановлению и закреплению на местности границ земельного участка, определению его местоположения и площади
