.skill
    -
        var items = [
            {
                icon: 'quality',
                text: 'Гарантия качества товара'
            },
            {
                icon: 'price',
                text: 'Гарантия лучшей цены'
            },
            {
                icon: 'online',
                text: 'Надежная покупка он-лайн'
            }
        ]
    each item, i in items
        .skill__item
            .skill__item-icon-wrap
                i.icon(class='i-'+item.icon)
            .skill__item-desc!= item.text
