.sorting
    .sorting__desc Показывать по:
    .sorting__select-wrap
        select.sorting__select.js-select
            option(value="20") 20
            option(value="40") 40
            option(value="60") 60
            option(value="80") 80
            option(value="100") 100
