table
    thead
        tr
            each i in [1,2,3,4]
                th Заголовок
    tbody
        -var i = 0
        while i < 5
            tr
                - i++
                each td in [1,2,3,4]
                    td Ячейка #{i}#{td}
