.works-banner
    .works-banner__col.works-banner__col_left
        .works-banner__count 3500
        .works-banner__desc-wrap
            .works-banner__title Выполненных проектов
            .works-banner__desc По всему Уралу

    .works-banner__col.works-banner__col_right
        a(href="#").button.button_nobg.button_second.button_arrow Перейти в портфолио
