.sorting
    display: flex
    align-items: center;

    &__desc
        margin-right: 20px

    &__select-wrap
        & .ui-selectmenu-button.ui-button
            width 80px
        & .ui-button
            padding: 9px 10px 10px 1.4em;
            display: inline-block;
            position: relative;
            margin-right: .1em;
        & .ui-icon
            margin-top 1px;


.ui-menu .ui-menu-item-wrapper
    padding 10px 1.4em
