.nav
    &__items
        display: flex
    &__item
        margin-right: 20px
        &:last-child
            margin-right: 0

    &__item-link
        display: inline-block;
        text-decoration: none;
        color: #333
        border-bottom 1px solid $color-main
        font-size: 12px
        text-transform uppercase
        font-family: $base-ff-semibold
        white-space: nowrap
        &:hover
            color $color-main
    &__item.active
        & ^[0]__item-link
            color $color-main
