.section
    width 100%
    background-size cover
    background-position center
    background-repeat: no-repeat
    position relative
    padding 40px 0

    &_first
        padding-top 0

    &__sidebar
        width 260px
        margin-right -260px
        float left

    &__filter
        width 210px
        margin-left -210px
        float left

    &__content
        width 100%
        &_catalog
            padding-left 280px
            float: left
        &_filter
            padding-right 230px


    &__title
        titleH1()

    &__title-icon
        position: absolute;
        width 60px
        height @width
        flex-center()
        border 2px solid $color-main
        border-radius: 3px
    &__title-desc
        width 100%
        max-width: 780px
        margin 0 auto 30px
        text-align: center
    &__title-price
        font-family: $title-ff-light
        font-size: 24px
        color #333
        margin-top: 30px
    &__title-price-count
        font-family: $title-ff-medium
        font-size: $fsH1
        color $color-main
        margin: 0 5px

    &__big-digit
        position: absolute
        left 240px
        top 50%
        transform translate(-50%, -50%)


    &__title-wrap-content
        display flex
    &__title-wrap-col
        width 50%
        padding 0 40px

    &__title-wrap
        text-align: center
        position: relative;
        &_center
            text-align: center;
            padding-top: 136px

            & ^[0]__title-icon
                pos-center-w()
                top 40px
                &:before
                    content ''
                    position: absolute;
                    bottom 100%
                    pos-center-w()
                    width 2px
                    background-color $color-main
                    height 42px
        &_right
            text-align: left;
            padding-top: 136px

            & ^[0]__title-icon
                pos-center-w()
                top 40px
                border-color rgba(#fff, 0.3)
                &:before
                    content ''
                    position: absolute;
                    bottom 100%
                    pos-center-w()
                    width 2px
                    background-color rgba(#fff, 0.3)
                    height 42px
            & ^[0]__title
                width: calc(50% + 30px)
                text-align: left;
                margin-left: calc(50% - 30px)
            & ^[0]__title-desc
                width calc(50% + 30px)
                text-align: left;
                font-size: $base-fs
                margin-left: calc(50% - 30px)
                line-height: $base-lh

        &_lines
            &:after
                content ''
                imgSize('assets/bg-circle.png')
                pos-center-w()
                top 0
                background: url(../images/bg-circle.png) no-repeat
                z-index -1

        &_page
            background-color #eaeaea
            margin-bottom: 50px
            background: url(../images/bg-main-title.png) no-repeat center
            background-size: cover
            background-color: #1d272a
            & ^[0]__title
                font-size: $fsH1
                padding-bottom: 34px
                padding-top 30px
                font-family: $title-ff-light
                max-width: 720px
                margin 0 auto
                color #fff

            & ^[0]__title-icon
                background-color: $color-main
                pos-center-w()
                bottom -30px
                z-index: 2

            &:after
                top 100%

        &_left
            position: relative;
            text-align: left;
            font-size: 0
            padding-top: 76px
            padding-bottom 0px
            margin-bottom: 30px
            & ^[0]__title-icon
                left 90px
                top 100px
                &:before
                    content ''
                    position: absolute;
                    bottom 100%
                    pos-center-w()
                    width 2px
                    background-color $color-main
                    height 102px

            & ^[0]__title
                width 50%
                display: inline-block;
                text-align: left;
                vertical-align: top
                padding-left: 210px
                margin-bottom: 0
            & ^[0]__title-desc
                width 50%
                display: inline-block;
                text-align: left;
                font-size: $base-fs
                vertical-align: top
                padding-left: 35px
                padding-top: 10px

        &_hotline
            position: relative;
            text-align: left;
            padding-top: 86px
            padding-bottom 0px
            margin-bottom: 80px
            &:after
                content ''
                imgSize('assets/bg-circle_hot-line.png')
                pos-center-w()
                top 0
                background: url(../images/bg-circle_hot-line.png) no-repeat
                z-index -1
            & ^[0]__title-icon
                left 90px
                top 100px
                &:before
                    content ''
                    position: absolute;
                    bottom 100%
                    pos-center-w()
                    width 2px
                    background-color $color-main
                    height 102px

            & ^[0]__title
                text-align: left
                margin-bottom: 10px

            & ^[0]__title-wrap-col
                &_left
                    padding-left: 210px

            & ^[0]__title-desc
                text-align: left
                margin-bottom: 0

        &_semi
            padding-top 100px
            & ^[0]__title
                titleH2()

.section
    &_popular
        background: #1d272a url(../images/bg-popular.png) no-repeat center bottom
        color #fff
        padding 0 0 40px
        & ^[0]__title
            color #fff
.section
    &_consult
        background: #256076 url(../images/bg-consult.png) no-repeat center center
        color #fff
        padding 0

.section
    &_earch
        background: url(../images/bg-all-earch.jpg) no-repeat center
        background-size cover
        color #fff
        padding 0 0 40px
        & ^[0]__title
            color #fff


.section
    &_error-404
        background: url(../images/bg-404.jpg) no-repeat center
        background-size: cover
        height 100%
        display: table-cell
        padding 0
        color #fff
        & ^[0]__title
            color #fff
