.footer
    background-color: #1f2023
    background-image: url(../images/footer-map.png)
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__container
        padding 35px 0 45px
        display flex

    &__col
        margin-right: 75px
        &_info
            margin-right: 100px
    &__logo
        margin-bottom: 25px
    &__info
        color #fff
        line-height: $base-lh
        margin-bottom: 30px
        font-size 14px
    &__copyright
        color $color-main

    &__list
        margin-top: 25px
    &__list-item
        margin-bottom: 13px
    &__list-item-link
        text-decoration: none;
        color #e1e1e1
        font-size: 14px
        &:hover
            text-decoration: underline;
            color #e1e1e1
