.recall
    &__container
        width 100%
        display flex
    &__client
        width (100/8*3)%
        padding 0 60px
        text-align: center;
    &__content
        width (100/8*5)%
        padding-right 60px
        line-height: $base-lh
        position: relative;
        padding-top 40px
        &:before
            content ''
            imgSize('assets/recall-quote.png')
            background url(../images/recall-quote.png) no-repeat center
            position: absolute;
            top 0
            right 100%


    &__photo
        margin-bottom: 30px
        position: relative;
        margin-top 30px
        &:before
            content ''
            position: absolute;
            top -10px
            left 50%
            transform translate(-50%, 0)
            width 120px
            height 120px
            border-radius: 50%
            border 2px solid $color-main
            clip: rect(auto,60px,60px,auto)

    &__photo-img-wrap
        width 100px
        height 100px
        border-radius: 50%
        overflow: hidden;
        display: inline-block;
    &__photo-img
        max-width: 100%
        display: block;

    &__name
        color $base-fc-title
        margin-bottom: 20px
    &__role
        font-size: 13px
        line-height: 20px
        font-family: $base-ff-italic
