.logo
    padding-left 87px
    text-transform: uppercase
    display: block
    position: relative
    text-decoration: none
    color: #222
    margin-top: -4px
    &__img
        position: absolute
        bottom: -3px
        left: 0
    &__desc
        font-size 9px
        color $color-grey-dark
        margin-bottom 0px
        margin-left: 3px
    &__title
        font-size: 36px
    &__title-text-color
        font-family: $base-ff-bold
        color $color-main
