.service-card
    width (100/3)%
    padding 40px
    background-color: #fff
    border 1px solid $color-border
    border-width 0 1px 1px 0
    display flex
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(-n+3)
        border-top-width 1px
    &:last-child
        border-right-width 1px
    &:nth-child(3n+1)
        border-left-width 1px
    &:nth-child(3n)
        border-right-width 0

    &__title
        color $color-main
        font-size: 24px
        line-height: 30px
        font-family: $title-ff-medium
        margin-bottom: 20px
    &__desc
        font-family: $base-ff-italic
        font-size: 13px
        line-height: 20px

    &__list
        margin-top: 20px
    &__link
        color #333
        border-bottom 1px solid #acacac
        &:hover
            border-bottom-color transparent
    &__button-more
        width 60px
        height @width
        border 2px solid #fff
        border-radius 3px
        position: relative;
        transition background-color 0.3s ease
        &:after
            content ''
            pos-center()
            position: absolute;
            width 14px
            height 10px
            background url(../images/service-button-arrow.png) no-repeat left top
        &:hover
            background-color: #fff
            &:after
                background-position left bottom

.service-card
    &_more
        background-color $color-main-dark
        background-image: url(../images/bg-card.png)
        color #fff
        & ^[0]__title
            color #fff

.service-cards
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 0 0 1px $color-border
    background: url(../images/bg-cards-wrap.png)
    background-color: #fff

.service
    background url(../images/bg-what-do.png)
    background-position: center 200px
    background-repeat no-repeat
