include ../partials/mixins

doctype html
html
	include ../partials/head
	body
		.wrapper.js-wrapper
			.wrapper__page
				.wrapper__page-top
					include ../partials/header

					.wrapper__content
						block content

				.wrapper__page-bot
					include ../partials/footer

			.wrapper__popups
				block popup

		block script
		script(src='./assets/js/libs.js')
		script(src='./assets/js/main.js')
