.big-digit
    display: flex;
    align-items: center;
    flex-direction: column;

    &__count

        &_ten
            imgSize('assets/digit-10.png')
            background-image url('../images/digit-10.png')
        &_404
            imgSize('assets/digit-404.png')
            background-image url('../images/digit-404.png')
    &__desc
        color #f3f167
        font-size: $fsH3
        text-align: center
        margin-top: 15px
        font-family: $title-ff-light
