.consult
    display flex
    &__content
        display flex
        justify-content: space-between;
        align-items: center;
        padding 50px 0
    &__question
        padding 0 30px
    &__desc
        font-family: $title-ff-light
        color #f2f2f2
        font-size: 24px
        line-height: 30px
        text-transform uppercase
        margin-right: 60px
