.limit-list
    &__more-link
        font-size: 11px
        text-transform: uppercase;
        display: inline-block
        padding-bottom 1px
        line-height: 1
        color $color-main
        border-bottom 1px dotted $color-main
        cursor: pointer
        text-transform: uppercase;
        &:hover
            color $color-main-hover
            border-bottom-color $color-main-hover
