.phone
    display: inline-block
    text-align: left
    vertical-align: middle
    color #222
    margin-right: 20px
    &__icon
        display inline-block
        position: relative
        vertical-align: middle
        margin-right: 15px

    &__number
        vertical-align: middle
        display inline-block
        font-size: 24px

    &__number-prefix
        color $color-main

    &_light
        color #fff
        & ^[0]__number-prefix
            color #fff
