.intro-error
    width 100%
    color #fff
    font-family: $base-ff-light
    text-align: center;
    &__title
        font-size: 80px
        margin-bottom 20px
    &__title-semi
        font-size: 36px
        margin-bottom 40px
        background-color: transparent
        border-bottom 1px solid rgba($color-border, 0.1)
        position: relative;
        padding-bottom 30px
        &:after
            content ''
            position: absolute;
            bottom -2px
            width 100%
            max-width: 180px
            height 2px
            pos-center-w()
            background-color $color-main
            z-index: 2
    &__text
        margin-bottom: 40px
