.intro-error
    height 100%
    width 100%
    color #fff
    &__icon
        position: absolute;
        width 60px
        height @width
        flex-center()
        border-radius: 3px
        top 90px
        pos-center-w()
        border 2px solid  rgba(#fff, 0.3)
        &:before
            content ''
            position: absolute;
            bottom 100%
            pos-center-w()
            width 2px
            background-color rgba(#fff, 0.3)
            height 92px
    &__container
        max-width: 1020px
        margin 0 auto
        height 100%
        flex-center()
    &__content
        position: relative;
        width: 100%
        padding 100px 0
