mixin amount(data, mod)
    -
        var data = data || {}
        var mod = mod || ''
        var min = data.min || 1
        var value = data.value || min
        var attr = {}

        data.min ? attr['data-min'] = data.min : false
        data.max ? attr['data-max'] = data.max : false

    .amount.js-amount(class=mod)&attributes(attr)
        .amount__control.amount__control_reduce.js-amount-control.js-amount-control_reduce &ndash;
        .amount__input-wrap
            input.amount__input.js-amount-input(type='text' value=value)
        .amount__control.amount__control_add.js-amount-control.js-amount-control_add +
