.header
    width 100%
    background-color #fff
    position: relative
    &__container
        display flex
        justify-content: space-between
        align-items: center
        min-height: 110px
        width: 100%
        height: 0px // Для IE 11 иначе не воспринимает значение min-height
